html,
body {
  height: 100%;
  margin: 0;
}
.grid2x2 {
  min-height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 100px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
div {
  margin: 20px;
}
table,
th,
td {
  border: 1px solid black;
}
